.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
.body-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.img1 {
    background: linear-gradient(0deg, hsl(277, 64%, 61%, 0.5), hsl(277, 64%, 61%, 0.5)), url("image-header-desktop.jpg");
    background-size: 100%;
}
.content {
    background-color: hsl(244, 38%, 16%);
    color: rgb(145, 143, 143);
    padding: 5vw;
    font-size: 2vw;
    font-family: "Inter", sans-serif;
    font-weight: 400;
}
.head {
    color: white;
    font-size: 3vw;
    padding-bottom: 4vw;
    font-weight: 700;
}
.insights {
    color: hsl(277, 64%, 61%);
}
.chart-grid {
    display: grid;
    padding-top: 3vw;
    grid-template-columns: 1fr 1fr 1fr;
}
.chart1 {
    font-size: 1vw;
}
.number {
    color: white;
    font-size: 2vw;
    font-weight: 700;
}
@media (max-width: 500px) {
    .img1 {
        background: linear-gradient(0deg, hsl(277, 64%, 61%, 0.5), hsl(277, 64%, 61%, 0.5)), url("image-header-mobile.jpg");
        background-size: 100%;
        height: 65vw;
        order: 1;
    }
    .body-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-flow: dense;
    }
    .content {
        padding: 5vw;
        font-size: 3vw;
        text-align: center;
        order: 2;
    }
    .head {
        font-size: 5vw;
        padding-bottom: 4vw;
    }
    .insights {
        color: hsl(277, 64%, 61%);
    }
    .chart-grid {
        display: grid;
        padding-top: 6vw;
        grid-template-columns: 1fr;
        grid-gap: 2vw;
    }
    .chart1 {
        font-size: 1vw;
    }
    .number {
        font-size: 5vw;
    }
}
